<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>   <!--this is calling a function called stylesheet_link_tag
    																									application is path to stylesheet !-->   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%=yield(:title)%></h1>
    <%= yield %>
  </body>
</html>
